<template>
  <div id="test3">
    <area-chart
        id="area"
        :data="AreaData"
        xkey="year"
        ykeys='["a", "b", "c"]'
        labels='["a","b","c"]'
        line-colors='[ "#FF6384", "#36A2EB"]'
        grid="true"
        grid-text-weight="bold"
        resize="true">
    </area-chart>
  </div>
</template>

<script>

import { AreaChart } from 'vue-morris'

export default {
  data(){
    return{
      
      AreaData: [
        { year: '2016', 'a': 10, 'b': 5, 'c': 12 },
        { year: '2017', 'a': 20, 'b': 2, 'c': 12 },
        { year: '2018', 'a': 30, 'b': 4, 'c': 12 },
        { year: '2019', 'a': 30, 'b': 6, 'c': 12 }
      ],
      xkey: "year",
      ykeys: ["a", "b", "c"],

      AColors2:[ "#FF6384", "#73c000", "#FFCE56" ]
    }
  },
  components:{
    AreaChart
  }
}
</script>

<style scoped>

</style>