<template>
  <div id="test2">
    <bar-chart
        id="bar"
        :data="BarData"
        xkey="year"
        ykeys='["a", "b", "c"]'
        labels='["a","b","c"]'
        xLabelAngle="60"
        bar-colors='[ "#FF6384", "#73c000", "#FFCE56" ]'
        grid="true"
        grid-text-weight="bold"
        resize="true">
    </bar-chart>
  </div>
</template>

<script>

import { BarChart } from 'vue-morris'

export default {
  data(){
    return{
      
      BarData: [
        { year: '2016', 'a': 10, 'b': 5, 'c': 12 },
        { year: '2017', 'a': 20, 'b': 2, 'c': 12 },
        { year: '2018', 'a': 30, 'b': 4, 'c': 12 },
        { year: '2019', 'a': 30, 'b': 6, 'c': 12 }
      ],
      xkey: "year",
      ykeys: ["a", "b", "c"],

      AColors2:[ "#FF6384", "#73c000", "#FFCE56" ]
    }
  },
  components:{
    BarChart
  }
}
</script>

<style scoped>

</style>