<template>
  <div id="test">
    <donut-chart
      id="donut" 
      :data="donutData" 
      :colors="arrayColors" 
      resize="true">
    </donut-chart>
  </div>
</template>

<script>

import { DonutChart } from 'vue-morris'

export default {
  data(){
    return{
      donutData: [
        { label: 'Red', value: 300 },
        { label: 'Blue', value: 50 },
        { label: 'Yellow', value: 100 }
      ],
      arrayColors:[ "#FF6384", "#73c000", "#FFCE56" ]
    }
  },
  components:{
    DonutChart
  }
}

</script>

<style>

</style>