<template>

<div id="user">
  <div class="submit-form">
    <div v-if="!submitted">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          required
          v-model="user.username"
          name="username"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          class="form-control"
          id="email"
          required
          v-model="user.email"
          name="email"
        />
      </div>

      <button @click="saveUser" class="btn btn-success">Submit</button>
      <ul class="list-group">
        <li class="list-group-item"
          v-for="(user, index) in users"
          :key="index"
        >
          <div id="OneUser" ><button @click="deleteUser(2)">{{ user.username }} <img alt="Delete" src="../assets/trash.png" style="width:8%"></button></div>
        </li>
      </ul>
    </div>
    <div v-else>
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" @click="newUser">Add</button>
    </div>
  </div>
</div>
</template>

<script>
import UserService from "../services/UserService";

export default {
  name: "add-user",
  data() {
    return {
        users: [],
      user: {
        id: null,
        username: "",
        email: "",
      },
      submitted: false,
      connected: false
    };
  },
  methods: {
    getUsers() {
        
      UserService.getAll()
        .then(response => {
          this.users = response.data['data'];
          console.log("AAAAAA")
          console.log(response.data['data']);
          console.log("AAAAAA")
        })
        .catch(e => {
          console.log(e);
        });
    },

    deleteUser(id) {
      UserService.delete(id)
        .then(response => {
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    saveUser() {
      var data = { 
          "user" : {
            "email": this.user.email,
            "username": this.user.username
        }
      };

      console.log(data)

      UserService.create(data)
        .then(response => {
          this.user.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch(e => {
          console.log("zz" + e);
        });
    },
    
    newUser() {
      this.submitted = false;
      this.user = {};
    }
  },
  mounted() {
    this.getUsers();
  }
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>