<template>

<div id="workingTime">
  <button id="btPointage">Pointer</button>
</div>
</template>

<script>

export default {
  name: "add-user",
  data() {
    return {
        pointages: [],
      pointage: {
        id: null,
        time: "",
        stats: "",
      },
    };
  }
}

</script>

<style>

#workingTime {
  text-align:center;
}

</style>