<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
<!--          <router-link to="/donut" class="nav-link">Donut</router-link>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <router-link to="/line" class="nav-link">Line</router-link>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <router-link to="/bar" class="nav-link">Bar</router-link>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <router-link to="/user" class="nav-link">User</router-link>-->
<!--        </li>-->
        <li class="nav-item">
          <router-link to="/pointage" class="nav-link">Pointage</router-link>
        </li>
        

      </div>
    </nav>
    <div class="container mt-3">
      <b-container class="bv-example-row">
        <b-row>
          <b-col>
            <app-user/>
          </b-col>
          <b-col>
            <app-donutchart/>
<!--            <router-view />-->
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <app-linechart/>
          </b-col>
          <b-col>
            <app-barchart/>
          </b-col>
          <b-col>
            <app-areachart/>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>

<script>
// import {LineChart} from "vue-morris";

export default {
  name: "app",
  // data(){
  //   return{
  //     lineData: [
  //       { year: '2016', a: 10, b: 5 },
  //       { year: '2017', a: 20, b: 2 },
  //       { year: '2018', a: 30, b: 4 }
  //     ],
  //     // xkey: "year",
  //     // ykeys: ["a", "b"],
  //
  //     AColors2:[ "#FF6384", "#73c000", "#FFCE56" ]
  //   }
  // },
  // components:{
  //   LineChart
  // }
};
</script>

<style>
/*.item1 {*/
/*  grid-column-start: 1;*/
/*  grid-column-end: 3;*/
/*}*/
</style>