<template>
  <div id="test2">
    <bar-chart
      id="bar"
      :data="BarData"
      xkey="year"
      ykeys='["a"]'
      labels='["a"]'
      xLabelAngle="60"
      bar-colors='[ "#FF6384", "#73c000", "#FFCE56" ]'
      grid="true"
      grid-text-weight="bold"
      resize="true"
    >
    </bar-chart>
  </div>
</template>

<script>
import { BarChart } from "vue-morris";
import WorkingTimeService from "../services/WorkingTimeService";

export default {
  data() {
    return {
      workingTimes:[],
      BarData: [
      ],
      xkey: "year",
      ykeys: ["a"],

      AColors2: ["#FF6384", "#73c000", "#FFCE56"],
    };
  },
  methods: {
    getWorkingTimes() {
      this.user_id = this.$route.params["id"];
      WorkingTimeService.getAll(this.user_id)
        .then((response) => {
          this.workingTimes = response.data["data"];
          console.log(this.workingTimes)
          this.workingTimes.forEach(element => {
            const start = element['start'].split('T')
            console.log(start[1])
            this.BarData.push({ year: start[0], a: start[1] })
          });
          console.log(this.BarData)
        })
        .catch((e) => {
          console.log(e);
        });
        
    },
  },
  mounted() {
    this.getWorkingTimes();
  },
  components: {
    BarChart,
  },
};
</script>

<style scoped>
</style>