<template>
  <div id="app">
    <div class="container mt-3">
      <b-container class="bv-example-row">
        <b-row>
          <b-col>
            <app-donutchart />
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <app-linechart />
          </b-col>
          <b-col>
            <app-barchart />
          </b-col>
          <b-col>
            <app-areachart />
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>