<template>
  <div id="user">
    <div class="submit-form">
      <div v-if="!submitted">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            class="form-control"
            id="email"
            required
            v-model="user.email"
            name="email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            required
            v-model="user.password"
            name="password"
          />
        </div>
        <button @click="checkUser" class="btn btn-success">Log In</button>
        <div v-if="error" style="color: red; margin-top: 10px">
          Invalid credentials
        </div>
      </div>
      <div v-else>
        <h4>Pointage</h4>
        <button class="btn btn-success" @click="pointer">Pointer</button>
        <div v-if="start" style="color: green">Start</div>
        <div v-if="end" style="color: red">End</div>
      </div>
    </div>
  </div>
</template>

<script>
import UserService from "../services/UserService";
import WorkingTimeService from "../services/WorkingTimeService";

export default {
  name: "search-user",
  data() {
    return {
      users: [],
      role_user: [],
      working_time: [],
      user_id: 0,
      working_time_id: 0,
      user: {
        id: null,
        password: "",
        email: "",
      },
      workingTime: {
        id: null,
        start: "",
        end: "",
      },
      submitted: false,
      connected: false,
      error: false,
      start: false,
      end: false,
    };
  },
  methods: {
    onInitFirst(){
      if(localStorage.getItem("connect") == "true"){
        this.submitted = true
      }
    },
    checkUser() {
      var data = {
        email: this.user.email,
        password: this.user.password,
      };
      UserService.login(data)
        .then((response) => {
          this.user_id = response.data["data"].id;
          console.log(this.user_id)
          this.role_user = response.data["data"].roles;
          if (this.role_user.includes("manager")) {
            localStorage.setItem("role", "manager");
            localStorage.setItem("connect", "true");
          } else {
            localStorage.setItem("role", "employe");
            localStorage.setItem("connect", "true");
          }
          this.submitted = true;
          console.log(localStorage.getItem("role"))
          console.log(localStorage.getItem("connect"))
        })
        .catch((e) => {
          console.log(e);
        });
    },
    pointer() {
      const today = new Date();
      const date =
        today.getFullYear() +
        "-" +
        (today.getMonth() + 1) +
        "-" +
        today.getDate();
      const time =
        today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      const dateTime = date + " " + time;
      if (this.start == false && this.end == false) {
        var data = {
          working_time: {
            start: dateTime,
            end: dateTime,
          },
        };
        WorkingTimeService.create(data, this.user_id)
          .then((response) => {
            console.log(response);
            this.working_time = response.data.data;
            this.working_time_id = this.working_time["id"];
            console.log(this.working_time_id);
            this.start = true;
            WorkingTimeService.create(data, this.user_id)
              .then((response) => {
                console.log(response);
                this.working_time = response.data.data;
                this.working_time_id = this.working_time["id"];
                console.log(this.working_time_id);
                this.start = true;
              })
              .catch((e) => {
                console.log(e);
              });
          })
          .catch((e) => {
            console.log(e);
          });
      } else if (this.start == true) {
        this.end = true;
        this.start = false;
        var data_update = {
          working_time: {
            end: dateTime,
          },
        };
        WorkingTimeService.update(data_update, this.working_time_id)
          .then((response) => {
            console.log(response);
            this.start == true;
          })
          .catch((e) => {
            console.log(e);
          });
      }
    },
    newUser() {
      this.submitted = false;
      this.user = {};
    },
  },
  mounted() {
    this.onInitFirst();
  },
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}
</style>