<template>
  <b-container style="margin-bottom:20px">
    <div>
      <b-card title="User List" sub-title="">
        <b-card-text>
          <table class="justify-content-md-center" align="center">
            <thead>
              <tr>
                <th>Username</th>
                <th>E-mail</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(user, index) in users" :key="index">
                <td>
                  {{ user.username }}
                </td>
                <td>
                  {{ user.email }}
                </td>
                <td>
                  <img
                    @click="deleteUser(user.id)"
                    alt="Delete"
                    title="Delete"
                    src="../assets/delete.png"
                    style="width: 20%; color: red; cursor: pointer"
                  />
                  <a href="/user-edit/1"
                    ><img
                      alt="Edit"
                      title="Edit"
                      src="../assets/pencil.png"
                      style="width: 20%; margin-left: 15px; cursor: pointer"
                  /></a>
                  <a href="/workingTimes/1"
                    ><img
                      alt="WorkingTimes"
                      title="WorkingTimes"
                      src="../assets/development.png"
                      style="width: 20%; margin-left: 15px; cursor: pointer"
                  /></a>
                </td>
              </tr>
            </tbody>
          </table>
        </b-card-text>
        <a href="/user-new" class="card-link">New User</a>
      </b-card>
    </div>
  </b-container>
</template>

<script>
import UserService from "../services/UserService";

export default {
  name: "list-user",
  data() {
    return {
      users: [],
      user: {
        id: null,
        username: "",
        email: "",
      },
      submitted: false,
      connected: false,
    };
  },
  methods: {
    getUsers() {
      console.log("Aaaa");
      UserService.getAll()
        .then((response) => {
          this.users = response.data["data"];
        })
        .catch((e) => {
          console.log(e);
        });
    },

    deleteUser(id) {
      console.log("AA");
      UserService.delete(id)
        .then((response) => {
          console.log(response.data);
          window.location.href = '/user';
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  mounted() {
    this.getUsers();
  },
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

table {
  border: 2px solid #343a40;
  border-radius: 3px;
  background-color: #fff;
}

th {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th,
td {
  min-width: 120px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
</style>