<template>
  <div id="user">
    <div class="submit-form">
      <div v-if="!submitted">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            required
            v-model="user.username"
            name="username"
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            class="form-control"
            id="email"
            required
            v-model="user.email"
            name="email"
          />
        </div>
        <button @click="saveUser" class="btn btn-success">Submit</button>
      </div>
    </div>
  </div>
</template>

<script>
import UserService from "../services/UserService";

export default {
  name: "add-user",
  data() {
    return {
      users: [],
      user: {
        id: null,
        username: "",
        email: "",
      },
      submitted: false,
      connected: false,
    };
  },
  methods: {
    saveUser() {
      var data = {
        user: {
          email: this.user.email,
          username: this.user.username,
        },
      };
      UserService.create(data)
        .then((response) => {
          this.user.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
          window.location.href = '/user';
        })
        .catch((e) => {
          console.log(e);
        });
    },

    newUser() {
      this.submitted = false;
      this.user = {};
    },
  },
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}
</style>