<template>
  <div id="user">
    <div class="submit-form">
      <div v-if="!submitted">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            required
            v-model="user.username"
            name="username"
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            class="form-control"
            id="email"
            required
            v-model="user.email"
            name="email"
          />
        </div>

        <button @click="editUser" class="btn btn-success">Submit</button>
      </div>
      <div v-else>
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" @click="newUser">Add</button>
      </div>
    </div>
  </div>
</template>

<script>
import UserService from "../services/UserService";

export default {
  name: "add-user",
  data() {
    return {
      users: [],
      user_id: 0, 
      user: {
        id: null,
        username: "",
        email: "",
      },
      submitted: false,
      connected: false,
    };
  },
  methods: {
    getUsers() {
      this.user_id = this.$route.params['id']
      UserService.getOne(this.$route.params['id'])
        .then((response) => {
          this.user = response.data["data"];
        })
        .catch((e) => {
          console.log(e);
        });
    },
    editUser() {
      var data = {
        user: {
          email: this.user.email,
          username: this.user.username,
        },
      };

      console.log(data);

      UserService.edit(this.user_id,data)
        .then((response) => {
          this.user.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch((e) => {
          console.log("zz" + e);
        });
    },
  },
  mounted() {
    this.getUsers();
  },
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

</style>