<template>
  <div id="app">
    <div>
      <b-navbar type="dark" variant="dark">
        <b-navbar-nav>
          <b-nav-item href="/charts">Graph</b-nav-item>
          <b-nav-item href="#">Pointage</b-nav-item>
          <b-nav-item-dropdown text="Users" right>
            <b-dropdown-item href="/user-login">Login</b-dropdown-item>
            <b-dropdown-item href="/user">List</b-dropdown-item>
            <b-dropdown-item href="/user-new">New User</b-dropdown-item>
          </b-nav-item-dropdown>
          <div>
          <b-nav-item @click="logout" style="cursor:pointer">Déconnexion</b-nav-item>
          </div>
        </b-navbar-nav>
      </b-navbar>
    </div>
    <div class="container mt-3">
      <b-container class="bv-example-row">
        <b-row>
          <!-- <b-col>
            <app-user />
          </b-col> -->
          <b-col>
            <!-- <app-donutchart /> -->
            <router-view />
          </b-col>
        </b-row>

        <!-- <b-row>
          <b-col>
            <app-linechart />
          </b-col>
          <b-col>
            <app-barchart />
          </b-col>
          <b-col>
            <app-areachart />
          </b-col>
        </b-row> -->
      </b-container>
    </div>
  </div>
</template>

<script>
// import {LineChart} from "vue-morris";

export default {
  name: "app",
  data(){
    return{
      viewButton : false,
      lineData: [
        { year: '2016', a: 10, b: 5 },
        { year: '2017', a: 20, b: 2 },
        { year: '2018', a: 30, b: 4 }
      ],
      // xkey: "year",
      // ykeys: ["a", "b"],
  
      AColors2:[ "#FF6384", "#73c000", "#FFCE56" ]
    }
  },
  methods:{
    logout(){
      localStorage.removeItem('connect');
      localStorage.removeItem('role');
      localStorage.setItem("viewButton","false")
    },
    onInit(){
      if(localStorage.getItem('viewButton') == "false"){
        this.viewButton == false
      }
    }
  },
  mounted(){
    this.onInit();
  }
};
</script>

<style>
/*.item1 {*/
/*  grid-column-start: 1;*/
/*  grid-column-end: 3;*/
/*}*/
</style>