<template>
  <div id="test3">
    ZZZZZ
    <area-chart
        id="area"
        :data="AreaData"
        xkey="year"
        ykeys='["time", "b", "c"]'
        labels='["time","b","c"]'
        line-colors='[ "#FF6384", "#36A2EB"]'
        grid="true"
        grid-text-weight="bold"
        resize="true">
    </area-chart>
  </div>
</template>
<script>
import { AreaChart } from 'vue-morris'
import WorkingTimeService from "../services/WorkingTimeService";
import UserService from "../services/UserService";
export default {
  data(){
    return{
      workingTimes:[],
      AreaData: [
        // { year: '2016', 'a': 10, 'b': 5, 'c': 12 },
        // { year: '2017', 'a': 20, 'b': 2, 'c': 12 },
        // { year: '2018', 'a': 30, 'b': 4, 'c': 12 },
        // { year: '2019', 'a': 30, 'b': 6, 'c': 12 }
      ],
      xkey: "year",
      ykeys: ["time",],
      // ykeys: ["a", "b", "c"],
      AColors2:[ "#FF6384", "#73c000"]
      // AColors2:[ "#FF6384", "#73c000", "#FFCE56" ]
    }
  },
  methods: {
    getWorkingTimes() {
      // BUT est de récupérer "end" et "user_id"  dans un foreach
      this.user_id = this.$route.params["id"];
      WorkingTimeService.getAll(this.user_id)
          .then((response) => {
            this.workingTimes = response.data["data"];
            console.log(this.workingTimes)
            this.workingTimes.forEach(element => {
              const end = element['end'].split('T')
              console.log(end[1])
              // const user_id = element['user_id']
              this.AreaData.push({ year: end[0], time: end[1]})
            });
            console.log(this.AreaData)
          })
          .catch((e) => {
            console.log(e);
          });
    },
    getUsers() {
      // Tu envoi les id des user que tu as recu avant dans les user_id
      // ===> le mieux serait d'appeller cette fonction à la volé dans le foreach plus haut
      // afin d'ajouter
      // this.user_id = this.$route.params["id"];
      UserService.getAll()
          .then((response) => {
            this.users = response.data["data"];
            console.log(this.users)
            // man = null
            // emp = null
            // total = null
            this.users.forEach(element => {
              const role = element['role']
              console.log(role)
              // this.BarData.push({ year: start[0], a: start[1] })
              // TRY
              // ==> this.donutData.push({ label: 'Manager', value: man}, { label: 'Employe', value: emp })
              // IF role = "manager" mana =+ 1
              // else if role = "employe" emp += 1
              // total += 1
            });
            // console.log(this.BarData)
          })
          .catch((e) => {
            console.log(e);
          });
    }
  },
  mounted() {
    this.getWorkingTimes();
    this.getUsers();
  },
  components:{
    AreaChart
  }
}
</script>
<style scoped>
</style>