<template>
  <div>
    <base-header class="pb-6 pb-8 pt-5 pt-md-8 bg-gradient-success">
      <!-- Card stats -->
      <b-row>
        <b-col md="12">
          <b-card no-body>
            <b-card-header class="" style="margin-bottom: 30px">
              <h3 class="mb-0 text-black">Employe List</h3>
            </b-card-header>
            <app-donutchart />
          </b-card>
        </b-col>
      </b-row>
      <b-row style="margin-top: 30px">
        <b-col md="12">
          <b-card no-body>
            <b-card-header class="bg-transparent" style="margin-bottom: 30px">
              <h3 class="mb-0 text-black">Role</h3>
            </b-card-header>
            <app-linechart />
          </b-card>
        </b-col>
      </b-row>
      <b-row style="margin-top: 30px">
        <b-col md="12">
          <b-card no-body>
            <b-card-header class="bg-transparent" style="margin-bottom: 30px">
              <h3 class="mb-0 text-black">Role</h3>
            </b-card-header>
            <app-barchart />
            <app-linechart />
          </b-card>
        </b-col>
      </b-row>
      <b-row style="margin-top: 30px">
        <b-col md="12">
          <b-card no-body>
            <b-card-header class="bg-transparent" style="margin-bottom: 30px">
              <h3 class="mb-0 text-black">Role</h3>
            </b-card-header>
            <app-areachart />
          </b-card>
        </b-col>
      </b-row>
    </base-header>
  </div>
</template>
