<template>
  <div id="test">
    <donut-chart
      id="donut"
      :data="donutData"
      :colors="arrayColors"
      resize="true">
    </donut-chart>
  </div>
</template>
<script>
import { DonutChart } from 'vue-morris'
import UserService from "../services/UserService";
export default {
  data(){
    return{
      donutData: [
        // { label: 'Red', value: 300 },
        { label: 'AdminBlue', value: 50 }, // man
        { label: 'EmployeeYellow', value: 100 } // emp
      ],
      // arrayColors:[ "#FF6384", "#73c000", "#FFCE56" ]
      arrayColors:["#73c000", "#FFCE56" ]
    }
  },
  methods: {
    getAdminEmployee() {
      this.user_id = this.$route.params["id"];
      UserService.getAll()
          .then((response) => {
            this.users = response.data["data"];
            console.log(this.users)
            // man = null
            // emp = null
            // total = null
            this.users.forEach(element => {
              const role = element['role']
              console.log(role)
              // this.BarData.push({ year: start[0], a: start[1] })
              // TRY
              // ==> this.donutData.push({ label: 'Manager', value: man}, { label: 'Employe', value: emp })
              // IF role = "manager" mana =+ 1
              // else if role = "employe" emp += 1
              // total += 1
            });
            // console.log(this.BarData)
          })
          .catch((e) => {
            console.log(e);
          });
    },
  },
  mounted() {
    this.getAdminEmployee();
  },
  components:{
    DonutChart
  }
}
</script>
<style>
</style>