<template>
  <div id="test2">
    <line-chart
        id="line"
        :data="lineData"
        :Acolors="arrayColors2"
        xkey="year"
        ykeys='["a", "b"]'
        grid="true"
        grid-text-weight="bold"
        resize="true">
    </line-chart>
  </div>
</template>

<script>

import { LineChart } from 'vue-morris'

export default {
  data(){
    return{
      lineData: [
        { year: '2016', a: 10, b: 5 },
        { year: '2017', a: 20, b: 2 },
        { year: '2018', a: 30, b: 4 }
      ],
      // xkey: "year",
      // ykeys: ["a", "b"],

      AColors2:[ "#FF6384", "#73c000", "#FFCE56" ]
    }
  },
  components:{
    LineChart
  }
}
</script>

<style scoped>

</style>