<template>
  <div>
    <base-header class="pb-6 pb-8 pt-5 pt-md-8 bg-gradient-success">
      <!-- Card stats -->
      <b-row>
        <b-col md="12">
          <b-card no-body>
            <b-card-header class="" style="margin-bottom: 30px">
              <h3 class="mb-0 text-black">Pointing</h3>
            </b-card-header>
            <img
              v-if="start"
              @click="pointer"
              class="rounded mx-auto d-block"
              alt="Start Work"
              title="Start Work"
              src="../assets/on.png"
              style="
                width: 20%;
                cursor: pointer;
                text-align: center;
                margin-bottom: 20px;
              "
            />
            <img
              v-if="end"
              @click="pointer"
              class="rounded mx-auto d-block"
              alt="End Work"
              title="End Work"
              src="../assets/off.png"
              style="
                width: 20%;
                cursor: pointer;
                text-align: center;
                margin-bottom: 20px;
              "
            />
          </b-card>
        </b-col>
      </b-row>
    </base-header>
  </div>
</template>

<script>
import UserService from "../services/UserService";
import WorkingTimeService from "../services/WorkingTimeService";
import ClockService from "../services/ClockService";

export default {
  name: "search-user",
  data() {
    return {
      status_clock: Boolean,
      start: false,
      end: false,
      id_employe: Number,
      id_workingTime: Number,
      date: "",
      time: "",

      users: [],
      role_user: [],
      working_time: [],
      user_id: 0,
      working_time_id: 0,
      user: {
        id: null,
        password: "",
        email: "",
      },
      workingTime: {
        id: null,
        start: "",
        end: "",
      },
      submitted: false,
      connected: false,
      error: false,
    };
  },
  methods: {
    onInitFirst() {
      if (localStorage.getItem("connect") == "true") {
        this.submitted = true;
      }
    },

    checkClock() {
      this.id_employe = localStorage.getItem("id_employe");
      ClockService.get(this.id_employe)
        .then((response) => {
          if (typeof response.data["data"][0] !== "undefined") {
            this.status_clock = response.data["data"][0].status;
            if (this.status_clock) {
              this.start = false;
              this.end = true;
            } else {
              this.start = true;
              this.end = false;
            }
          } else {
            console.log("B");
            this.start = true;
            this.end = false;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    reformatDate(date) {
      const str = String(date);
      if (str.length == 1) {
        return "0" + date;
      }
      return date;
    },
    pointer() {
      const today = new Date();
      console.log(today);
      const str_jour = String(today.getDate());
      const str_time = String(today.getMinutes());
      this.date =
        this.reformatDate(today.getFullYear()) +
        "-" +
        (today.getMonth() + 1) +
        "-" +
        this.reformatDate(today.getDate());
      this.time =
        this.reformatDate(today.getUTCHours()) +
        ":" +
        this.reformatDate(today.getMinutes()) +
        ":" +
        this.reformatDate(today.getSeconds());
      const dateTime = this.date + " " + this.time;
      if (this.start == true) {
        var data = {
          working_time: {
            start: dateTime,
            end: dateTime,
          },
        };
        console.log(data);
        WorkingTimeService.create(data, this.id_employe)
          .then((response) => {
            console.log(response);
            this.working_time = response.data.data;
            this.working_time_id = this.working_time["id"];
            console.log(this.working_time_id);
            this.start = true;
            var data_clock = {
              clock: {
                time: dateTime,
                status: true,
              },
            };
            ClockService.create(data_clock, this.id_employe)
              .then((response) => {
                window.location.href = "/#/workingtimes/" + this.id_employe;
              })
              .catch((e) => {
                console.log(e);
              });
          })
          .catch((e) => {
            console.log(e);
          });
      } else if (this.end == true) {
        var data_update = {
          working_time: {
            end: dateTime,
          },
        };
        console.log(data_update);
        WorkingTimeService.getLast(this.id_employe)
          .then((response) => {
            this.workingTimes = response.data["data"];
            this.id_workingTime = this.workingTimes[0].id;
            WorkingTimeService.update(data_update, this.id_workingTime)
              .then((response) => {
                var data_clock = {
                  clock: {
                    time: dateTime,
                    status: false,
                  },
                };
                ClockService.create(data_clock, this.id_employe)
                  .then((response) => {
                    window.location.href = "/#/workingtimes/" + this.id_employe;
                  })
                  .catch((e) => {
                    console.log(e);
                  });
              })
              .catch((e) => {
                console.log(e);
              });
          })
          .catch((e) => {
            console.log(e);
          });
      }
    },
    newUser() {
      this.submitted = false;
      this.user = {};
    },
  },
  mounted() {
    this.onInitFirst();
    this.checkClock();
  },
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}
</style>