<template>
  <div>
    <base-header class="pb-6 pb-8 pt-5 pt-md-8 bg-gradient-success">
      <!-- Card stats -->
      <b-row>
        <b-col md="12">
          <div id="user">
            <div class="submit-form">
              <div v-if="!submitted">
                <div class="form-group">
                  <label for="username">name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    required
                    v-model="team.name"
                    name="username"
                  />
                </div>

                <button @click="saveTeam" class="btn btn-success">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
    </base-header>
  </div>
</template>

<script>
import TeamService from "../services/TeamService";

export default {
  name: "add-team",
  data() {
    return {
      users: [],
      team: {
        id: null,
        name: ""
      },
      submitted: false,
      connected: false,
    };
  },
  methods: {
    saveTeam() {
      var data = {
          team: {
            name: this.team.name
          },
        };
      console.log(data);
      TeamService.create(data)
        .then((response) => {
          window.location.href = "/#/teams";
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}
</style>