<template>
  <div>
    <base-header class="pb-6 pb-8 pt-5 pt-md-8 bg-gradient-success">
      <!-- Card stats -->
      <b-row>
        <b-col md="12">
          <div id="user">
            <div class="submit-form">
              <div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    required
                    v-model="user.username"
                    name="username"
                  />
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    class="form-control"
                    id="email"
                    required
                    v-model="user.email"
                    name="email"
                  />
                </div>

                <button @click="editUser" class="btn btn-success">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
    </base-header>
  </div>
</template>

<script>
import UserService from "../services/UserService";

export default {
  name: "add-user",
  data() {
    return {
      users: [],
      user_id: 0,
      user: {
        id: null,
        username: "",
        email: "",
      },
      submitted: false,
      connected: false,
    };
  },
  methods: {
    getUsers() {
      this.user_id = this.$route.params["id"];
      UserService.getOne(this.$route.params["id"])
        .then((response) => {
          this.user = response.data["data"];
        })
        .catch((e) => {
          console.log(e);
        });
    },
    editUser() {
      var data = {
        user: {
          email: this.user.email,
          username: this.user.username,
        },
      };

      console.log(data);

      UserService.edit(this.user_id, data)
        .then((response) => {
          this.user.id = response.data.id;
          console.log(response.data);
          window.location.href = "/#/tables";
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  mounted() {
    this.getUsers();
  },
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}
</style>