<template>
  <div>
    <base-header class="pb-6 pb-8 pt-5 pt-md-8 bg-gradient-success">
      <!-- Card stats -->
      <b-row>
        <b-col md="12">
          <b-card no-body>
            <b-card-header class="" style="margin-bottom: 30px">
              <h3 class="mb-0 text-black">Employe List</h3>
            </b-card-header>
            <table
              class="justify-content-md-center"
              align="center"
              style="margint-bottom: 20px"
            >
              <thead>
                <tr>
                  <th>Username</th>
                  <th>E-mail</th>
                  <th>Role</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(user, index) in users" :key="index">
                  <td>
                    {{ user.username }}
                  </td>
                  <td>
                    {{ user.email }}
                  </td>
                  <td>
                    {{ user.roles[0] }}
                  </td>
                  <td>
                    <img
                      @click="deleteUser(user.id)"
                      alt="Delete"
                      title="Delete"
                      src="../assets/delete.png"
                      style="width: 20%; color: red; cursor: pointer"
                    />
                    <a :href="`/#/edit-employe/${user.id}`"
                      ><img
                        alt="Edit"
                        title="Edit"
                        src="../assets/pencil.png"
                        style="width: 20%; margin-left: 15px; cursor: pointer"
                    /></a>
                    <a :href="`/#/workingTimes/${user.id}`"
                      ><img
                        alt="WorkingTimes"
                        title="WorkingTimes"
                        src="../assets/development.png"
                        style="width: 20%; margin-left: 15px; cursor: pointer"
                    /></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <b-card-footer style="margin-top: 30px">
              <a href="/#/create-employe" class="card-link">New User</a>
            </b-card-footer>
          </b-card>
        </b-col>
      </b-row>
      <b-row style="margin-top: 30px">
        <b-col md="12">
          <b-card no-body>
            <b-card-header class="bg-transparent" style="margin-bottom: 30px">
              <h3 class="mb-0 text-black">Role</h3>
            </b-card-header>
            <div style="margin-top: 10px; margin-bottom: 30px">
              <b-form inline class="justify-content-md-center" align="center">
                <label class="mr-sm-2" for="inline-form-custom-select-pref"
                  >E-mail</label
                >
                <b-form-select
                  id="inline-form-custom-select-pref"
                  class="mb-2 mr-sm-2 mb-sm-0"
                  :options="users_options"
                  :value="users_options"
                  v-model="user.email"
                ></b-form-select>

                <label class="mr-sm-2" for="inline-form-custom-select-pref"
                  >Roles</label
                >
                <b-form-select
                  id="inline-form-custom-select-pref"
                  class="mb-2 mr-sm-2 mb-sm-0"
                  :options="roles"
                  :value="roles"
                  v-model="user.role"
                ></b-form-select>

                <b-button variant="primary" @click="userRole">Save</b-button>
              </b-form>
            </div>
            <!-- <b-card-footer>
              <a href="/#/create-employe" class="card-link">New User</a>
            </b-card-footer> -->
          </b-card>
        </b-col>
      </b-row>
    </base-header>
  </div>
</template>

<script>
import UserService from "../services/UserService";
import users from "./Tables/users";

export default {
  name: "list-user",
  data() {
    return {
      users: [],
      users_options: [],
      users_id: [],
      roles: ["manager", "employe"],
      user: {
        id: null,
        username: "",
        email: "",
        role: "",
      },
      submitted: false,
      connected: false,
    };
  },
  methods: {
    getUsers() {
      if (localStorage.getItem("id_team")) {
        const id_team = localStorage.getItem("id_team");
        UserService.getUserInTeam(id_team)
          .then((response) => {
            this.users = response.data["data"];
            this.users.forEach((element) => {
              this.users_options.push(element.id + "|" + element.email);
              this.users_id.push(element.id);
            });
            console.log(this.users);
          })
          .catch((e) => {
            console.log(e);
          });
        localStorage.removeItem("id_team");
      } else {
        UserService.getAll()
          .then((response) => {
            this.users = response.data["data"];
            this.users.forEach((element) => {
              this.users_options.push(element.id + "|" + element.email);
              this.users_id.push(element.id);
            });
            console.log(this.users);
          })
          .catch((e) => {
            console.log(e);
          });
      }
    },

    userRole() {
      const idEmail = this.user.email;
      const idEmailSplit = idEmail.split("|");
      const roles = this.user.role;
      if (roles.includes("manager")) {
        var data = {
          user: {
            email: idEmailSplit[1],
            roles: ["manager", "employe"],
          },
        };
      } else {
        var data = {
          user: {
            email: idEmailSplit[1],
            roles: ["employe"],
          },
        };
      }
      console.log(data);
      UserService.update(data, idEmailSplit[0])
        .then((response) => {
          this.user.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
          window.location.href = "/#/tables";
        })
        .catch((e) => {
          console.log(e);
        });
    },

    deleteUser(id) {
      if (confirm("Delete User")) {
        UserService.delete(id)
          .then((response) => {
            console.log(response.data);
            window.location.href = "/#/tables";
          })
          .catch((e) => {
            console.log(e);
          });
      }
    },
  },
  mounted() {
    this.getUsers();
  },
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

table {
  border: 2px solid#343a40;
  background-color: #fff;
}

th {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th,
td {
  min-width: 170px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
</style>