<template>
  <div>
    <base-header class="pb-6 pb-8 pt-5 pt-md-8 bg-gradient-success">
      <!-- Card stats -->
      <b-row>
        <b-col md="12">
          <b-card no-body>
            <b-card-header class="" style="margin-bottom:30px">
              <h3 class="mb-0 text-black">Team List</h3>
            </b-card-header>
            <table
              class="justify-content-md-center"
              align="center"
              style="margint-bottom: 20px"
            >
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Username</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(team, index) in teams" :key="index">
                  <td>
                    {{ team.id }}
                  </td>
                  <td>
                    {{ team.name }}
                  </td>
                  <td>
                    <img
                      @click="deleteTeam(team.id)"
                      alt="Delete"
                      title="Delete"
                      src="../assets/delete.png"
                      style="width: 20%; color: red; cursor: pointer"
                    />
                    <a href="/user-edit/1"
                      ><img
                        alt="Edit"
                        title="Edit"
                        src="../assets/pencil.png"
                        style="width: 20%; margin-left: 15px; cursor: pointer"
                    /></a>
                    <a :href="`/#/employes/${team.id}`"
                      ><img
                        alt="Employes"
                        title="Employes"
                        src="../assets/development.png"
                        style="width: 20%; margin-left: 15px; cursor: pointer"
                    /></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <b-card-footer style="margin-top: 30px">
              <a href="/#/create-team" class="card-link">New Team</a>
            </b-card-footer>
          </b-card>
        </b-col>
      </b-row>
    </base-header>
  </div>
</template>

<script>
import TeamService from "../services/TeamService";

export default {
  name: "list-teams",
  data() {
    return {
      teams: [],
      submitted: false,
      connected: false,
    };
  },
  methods: {
    getTeams() {
      TeamService.getAll()
        .then((response) => {
          this.teams = response.data["data"];
          console.log(this.teams);
        })
        .catch((e) => {
          console.log(e);
        });
    },

    deleteTeam(id) {
      if(confirm('Delete Team')){
      TeamService.delete(id)
        .then((response) => {
          console.log(response.data);
          window.location.href = "/#/teams";
        })
        .catch((e) => {
          console.log(e);
        });
      }
    },
  },
  mounted() {
    this.getTeams();
  },
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

table {
  border: 2px solid#343a40;
  background-color: #fff;
}

th {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th,
td {
  min-width: 170px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
</style>