<template>
  <div>
    <base-header class="pb-6 pb-8 pt-5 pt-md-8 bg-gradient-success">
      <!-- Card stats -->
      <b-row>
        <b-col md="12">
          <div id="user">
            <div class="submit-form">
              <div v-if="!submitted">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    required
                    v-model="user.username"
                    name="username"
                  />
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    class="form-control"
                    id="email"
                    required
                    v-model="user.email"
                    name="email"
                  />
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    class="form-control"
                    id="password"
                    type="password"
                    required
                    v-model="user.password"
                    name="password"
                  />
                </div>
                <div class="form-group">
                  <label for="password">Role</label>
                  <select
                    name="role"
                    id="role"
                    v-model="user.role"
                    class="form-control"
                  >
                    <option value="employe">Employe</option>
                    <option value="manager|employe">Manager</option>
                  </select>
                </div>
                <button @click="saveUser" class="btn btn-success">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
    </base-header>
  </div>
</template>

<script>
import UserService from "../services/UserService";

export default {
  name: "add-user",
  data() {
    return {
      users: [],
      user: {
        id: null,
        username: "",
        email: "",
        password: "",
        role: [],
      },
      submitted: false,
      connected: false,
    };
  },
  methods: {
    saveUser() {
      const roles = this.user.role;
      if (roles.includes("manager")) {
        var data = {
          user: {
            email: this.user.email,
            username: this.user.username,
            password: this.user.password,
            role: ["manager","employe"],
          },
        };
      } else {
        var data = {
          user: {
            email: this.user.email,
            username: this.user.username,
            password: this.user.password,
            role: ["employe"],
          },
        };
      }

      console.log(data);
      UserService.create(data)
        .then((response) => {
          this.user.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
          window.location.href = "/#/tables";
        })
        .catch((e) => {
          console.log(e);
        });
    },

    newUser() {
      this.submitted = false;
      this.user = {};
    },
  },
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}
</style>