<template>
  <div>
    <base-header class="pb-6 pb-8 pt-5 pt-md-8 bg-gradient-success">
      <!-- Card stats -->
      <b-row>
        <b-col md="12">
          <b-card no-body>
            <b-card-header class="" style="margin-bottom: 30px">
              <h3 class="mb-0 text-black">Employe List</h3>
            </b-card-header>
            <table
              class="justify-content-md-center"
              style="margin-bottom:20px"
              align="center"
            >
              <thead>
                <tr>
                  <th>Start</th>
                  <th>End</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(workingTime, index) in workingTimes" :key="index">
                  <td>
                    {{ workingTime.start }}
                  </td>
                  <td>
                    {{ workingTime.end }}
                  </td>
                  <td style="text-align: center">
                    <img
                      @click="deleteWorkingtime(workingTime.id)"
                      alt="Delete"
                      title="Delete"
                      src="../assets/delete.png"
                      style="width: 20%; color: red; cursor: pointer"
                    />
                    <!-- <a href="/user-edit/1"
                    ><img
                      alt="Edit"
                      title="Edit"
                      src="../assets/pencil.png"
                      style="width: 20%; margin-left: 15px; cursor: pointer"
                  /></a> -->
                    <!-- <a href="/workingTimes/1"
                    ><img
                      alt="WorkingTimes"
                      title="WorkingTimes"
                      src="../assets/development.png"
                      style="width: 20%; margin-left: 15px; cursor: pointer"
                  /></a> -->
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <b-card-footer style="margin-top: 30px">
              <a href="/#/create-employe" class="card-link">New User</a>
            </b-card-footer> -->
          </b-card>
        </b-col>
      </b-row>
    </base-header>
  </div>
</template>

<script>
import WorkingTimeService from "../services/WorkingTimeService";

export default {
  name: "list-user",
  data() {
    return {
      workingTimes: [],
      user_id: 0,
      user: {
        id: null,
        username: "",
        email: "",
      },
      form: {
        start: "",
        end: "",
      },
      submitted: false,
      connected: false,
    };
  },
  methods: {
    getWorkingTimes() {
      this.user_id = this.$route.params["id"];
      WorkingTimeService.getAll(this.user_id)
        .then((response) => {
          this.workingTimes = response.data["data"];
        })
        .catch((e) => {
          console.log(e);
        });
    },

    deleteWorkingtime(id) {
      console.log("AA");
      WorkingTimeService.delete(id)
        .then((response) => {
          console.log(response.data);
          window.location.href = "/user";
        })
        .catch((e) => {
          console.log(e);
        });
    },

    onSubmit(evt) {
      evt.preventDefault();
      WorkingTimeService.getAllWithDate(
        this.user_id,
        this.form["start"],
        this.form["end"]
      )
        .then((response) => {
          this.workingTimes = response.data["data"];
          console.log(response);
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  mounted() {
    this.getWorkingTimes();
  },
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

table {
  border: 2px solid #343a40;
  border-radius: 2px;
  background-color: #fff;
}

th {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th,
td {
  min-width: 120px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
</style>